<div class="hero">
  <nav>
      <h2 class="logo">Dhruv <span>Rathod</span></h2>
      <ul>
          <li><a routerLink="./home"><fa-icon [icon]="icon"></fa-icon></a></li>
          <li><a routerLink="./about">About</a></li>
          <li><a routerLink="#">Services</a></li>
          <li><a routerLink="#">Portfolio</a></li>
          <li><a routerLink="#">Contact</a></li>
      </ul>
      <ul>
          <input type="text" placeholder="Search.." name="search">
          <button type="button">Search</button>
      </ul>
  </nav>
  <!-- <div class="content">
      <h4>Hello, my name is</h4>
      <h1>Dhruv <span>Rathod</span></h1>
      <h3>I'am a Web Developer.</h3>
      <div class="newslatter">
          <form action="">
              <input type="email" name="email" id="mail" placeholder="Please Enter Your Email">
              <input type="submit" name="submit" value="Lets Strat">
          </form>
      </div>
  </div> -->
  
</div>




