footer{
    position: relative;
    width: 100%;
    height: 400px;
    background:#101010;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

footer p:nth-child(1){
    font-size: 30px;
    color: white;
    margin-bottom: 20px;
    font-weight: bold;
}

footer p:nth-child(2){
    color: white;
    font-size: 17px;
    width: 700px;
    text-align: center;
    line-height: 26px;

}

footer p:last-child{
    color: white;
    font-size: 17px;
    width: 700px;
    text-align: center;
    line-height: 26px;

}
span{
    color: #ea1538;
}

.social{
    display: flex;
}

.social a{
    width: 45px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #ea1538;
    border-radius: 50%;
    margin: 22px 10px;
    color: white;
    text-decoration: none;
    font-size: 20px;
    
}

.social a:hover{
    transform: scale(1.3);
    transition: .3s;

}

footer p a{
    color: white;
    text-decoration: none;
}