<footer>
    <p>Dhruv <span>Rathod</span></p>
    <p>&copy; Copyright Dhruv Rathod | Asp.Net Core | Web Devloper All Rights Reserved.</p>
    <div class="social">
        <a href="https://github.com/dhruvrathod29" target="_blank"><fa-icon [icon]="Github "></fa-icon></a>
        <a href="https://www.linkedin.com/in/dhruv-rathod-0514b91bb/" target="_blank"><fa-icon [icon]="Linkedin"></fa-icon></a>
        <a href="https://twitter.com/" target="_blank"><fa-icon [icon]="Twitter"></fa-icon></a>
        <a href="https://www.facebook.com/" target="_blank"><fa-icon [icon]="Facebook"></fa-icon></a>
    </div>
   <p class="end">Designed By <a href="#">Dhruv <span>Rathod.</span></a></p>
</footer>