<app-about-intro></app-about-intro>
<section class="about">
    <div class="main">
        <img src="https://images.pexels.com/photos/5496461/pexels-photo-5496461.jpeg?auto=compress&cs=tinysrgb&w=600" alt="Dhruv">
        <div class="about-text">
            <h2>About Me</h2>
            <h5>Web Developer & <span>.Net Developer</span></h5>
            <p>I'm Dhruv Rathod. i am .Net Developer. i am study from Darshan institute of engineering & technology, Rajkot.</p>
            <button type="button">
                Let's Talk
            </button>
        </div>
    </div>
</section>